<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SmartCondor daily options report - {{ date }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <style>
            body {background-color: #f0f0f0;}
            .popover-title {background: #d9edf7;}
        </style>
	</head>
	<body>
        <div class="container">
            <center>
                <a href="http://www.smartcondor.com" align="center" class="text-center">
                    <img src="http://i.imgur.com/bw54c0B.png" class="swu-logo" alt="Logo Image">
                </a>
            </center>
            <h2><span class="label label-primary">Daily options report</span></h2>
            <p>Session date: {{ date }}</p>
            <br>
            <ul class="nav nav-tabs">
                {% for ticker in tickers_list %}
                    <li {% if loop.index == 1 %}class="active"{% endif %} role="presentation"><a data-toggle="tab" href="#t{{loop.index}}">{{ ticker }}</a></li>
                {% endfor %}
            </ul>
            
            <div class="tab-content clearfix">
                {% for ticker in tickers_list %}
                    <div class="tab-pane fade{% if loop.index == 1 %} in active{% endif %}" id="t{{loop.index}}">
                        {% include 'ticker_tab_contents_template.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">x</button>
                        <h3 class="modal-title">Heading</h3>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
	</body>
    <footer>
        <center>
            Copyright 2017 SmartCondor
        </center>
    </footer>
    <script type="text/javascript">
        // Enabling popovers
        $(function () {
            $('.popover-table-row').popover();
        })
        
        // Image opened in a modal
        $(document).ready(function() {
            $('.thumbnail').click(function(){
                $('.modal-body').empty();
                var title = $(this).parent('a').attr('title');
                $('.modal-title').html(title);
                $($(this).parents('div').html()).appendTo('.modal-body');
                $('#myModal').modal({show:true});
            });
            
            $('.modal-link').click(function(){
                $('.modal-body').empty();
                var title = $(this).parent('a').attr('title');
                $('.modal-title').html(title);
                var img_source = $(this).parents('a').attr('source');
                $('<img class=\'img-responsive\' src=\'' + img_source + '\'>').appendTo('.modal-body');
                $('#myModal').modal({show:true});
            });
        });
    </script>
</html>